In [1]:
import matplotlib
import numpy
import pandas
import seaborn

%matplotlib inline

### RECOMENDATION SYSTEM

In [2]:
ratings  = pandas.read_csv('ratings.csv')
movies = pandas.read_csv('movies.csv')

In [3]:
ratings = pandas.merge(ratings , movies , on='movieId')

In [4]:
ratings.drop(['timestamp','genres'],axis=1,inplace=True)

In [5]:
ratings

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [6]:
ratings.isna().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

In [7]:
mydata = pandas.DataFrame(ratings.groupby('title')['rating'].mean())
mydata['count']=pandas.DataFrame(ratings.groupby('title')['rating'].count())

In [8]:
mydata.sort_values(by='count',ascending=False)

                                             rating  count
title
Forrest Gump (1994)                        4.164134    329
Shawshank Redemption, The (1994)           4.429022    317
Pulp Fiction (1994)                        4.197068    307
Silence of the Lambs, The (1991)           4.161290    279
Matrix, The (1999)                         4.192446    278
...                                             ...    ...
King Solomon's Mines (1950)                3.000000      1
King Solomon's Mines (1937)                2.500000      1
King Ralph (1991)                          1.500000      1
King Kong Lives (1986)                     2.000000      1
À nous la liberté (Freedom for Us) (1931)  1.000000      1

[9719 rows x 2 columns]

In [9]:
mytable = ratings.pivot_table(index='userId',columns='title',values='rating')

In [10]:
mytable

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [11]:
ForGumpUserRate = mytable['Forrest Gump (1994)']

In [12]:
ForGumpRecs = mytable.corrwith(ForGumpUserRate)
ForGumpRecs.dropna(inplace=True)

C:\Users\konst\anaconda3\lib\site-packages\numpy\lib\function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\konst\anaconda3\lib\site-packages\numpy\lib\function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [13]:
len(ForGumpRecs)

5460

In [14]:
ForGumpRecs = pandas.DataFrame(ForGumpRecs,columns=['correlation'])

In [15]:
ForGumpRecs = ForGumpRecs.join(mydata['count'],how='inner')

In [16]:
ForGumpRecs

                                correlation  count
title
'burbs, The (1989)                 0.197712     17
(500) Days of Summer (2009)        0.234095     42
*batteries not included (1987)     0.892710      7
...And Justice for All (1979)      0.928571      3
10 Cent Pistol (2015)             -1.000000      2
...                                     ...    ...
[REC]² (2009)                     -0.052414      3
eXistenZ (1999)                    0.011189     22
xXx (2002)                         0.306817     24
xXx: State of the Union (2005)     0.383482      5
¡Three Amigos! (1986)              0.449692     26

[5460 rows x 2 columns]

In [17]:
rateLIMIT = 20

In [18]:
print(ForGumpRecs[ForGumpRecs['count']>rateLIMIT].sort_values('correlation',ascending=False).head(16))

                                                    correlation  count
title
Forrest Gump (1994)                                    1.000000    329
Bio-Dome (1996)                                        0.723238     31
Thor: The Dark World (2013)                            0.715809     21
Fatal Attraction (1987)                                0.701856     36
X-Men: Days of Future Past (2014)                      0.682284     30
National Lampoon's Vacation (1983)                     0.677043     26
Easy A (2010)                                          0.670081     27
Bridesmaids (2011)                                     0.663176     21
Cabin in the Woods, The (2012)                         0.653015     22
Patch Adams (1998)                                     0.652302     27
Mr. Holland's Opus (1995)                              0.652144     80
Pirates of the Caribbean: On Stranger Tides (2011)     0.645193     24
To Wong Foo, Thanks for Everything! Julie Newma...     0.641189     22
Waterboy, The (1998)                                   0.632631     28
Grumpy Old Men (1993)                                  0.630896     29
Arlington Road (1999)                                  0.622466     22